{% extends 'main/base.html' %}

{% block content %}

<div class="table-box">
    <form method="post" id="imopsForm">
        {% csrf_token %}

        <table>
            <tr>
                <th colspan="2" class="table-title">NUEVO IMOPS</th>
            </tr>
            <!-- Date Selection (Month and Year) -->
            <tr class="form-group">
                <td><label for="date_id">Fecha:</label></td>
                <td>
                    <input type="month" id="date_id" name="date" class="sampletext" value="{{ form.date.value|default_if_none:'' }}">
                    {% if form.date.errors %}
                        <div class="error">{{ form.date.errors }}</div>
                    {% endif %}
                </td>
            </tr>

            <!-- Laguna Selection -->
            <tr class="form-group">
                <td><label for="laguna_id">Laguna</label></td>
                <td>
                    <select id="laguna_id" name="laguna" class="select-laguna">
                        {% for choice in form.laguna.field.queryset %}
                            <option value="{{ choice.idLagunas }}" {% if form.laguna.value == choice.idLagunas %}selected{% endif %}>
                                {{ choice.Nombre }}
                            </option>
                        {% endfor %}
                    </select>
                    {% if form.laguna.errors %}
                        <div class="error">{{ form.laguna.errors }}</div>
                    {% endif %}
                </td>
            </tr>

            <!-- Buttons -->
            <tr class="form-group">
                <td></td>
                <td class="button-container">
                    <button type="button" onclick="location.href='/home/'" class="button">Inicio</button>
                    <button type="button" onclick="submitIMOPForm()" class="button">Enviar</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<!-- Table for Completed IMOPs 
<div class="table-box">
    <table>
        <tr>
            <th colspan="3" class="table-title">Completed IMOPs</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Laguna</th>
        </tr>
        {% for imop in completed_imops %}
        <tr>
            <td>{{ imop.generated_id }}</td>
            <td>{{ imop.date }}</td>
            <td>{{ imop.laguna.Nombre }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No completed IMOPs</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="table-box">
    <table>
        <tr>
            <th colspan="3" class="table-title">Incomplete IMOPs</th>
        </tr>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Laguna</th>
        </tr>
        {% for imop in incomplete_imops %}
        <tr>
            <td>{{ imop.generated_id }}</td>
            <td>{{ imop.date }}</td>
            <td>{{ imop.laguna.Nombre }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No incomplete IMOPs</td>
        </tr>
        {% endfor %}
    </table>
</div>
-->
<script>
    function submitIMOPForm() {
        var dateInput = document.getElementById('date_id');
        // Extract year and month from the input value
        var year = dateInput.value.split('-')[0];
        var month = dateInput.value.split('-')[1];
        // Create a date object for the first day of the next month, then subtract one day to get the last day of the selected month
        var lastDayOfMonth = new Date(year, month, 0);

        var laguna = document.getElementById('laguna_id').value;

        if (dateInput.value && laguna) {
            // Format the date to YYYY-MM-DD
            var formattedDate = lastDayOfMonth.toISOString().split('T')[0];

            var actionUrl = '/imops/' + laguna + '/' + formattedDate + '/';
            var form = document.getElementById('imopsForm');
            form.action = actionUrl;
            form.submit();
        } else {
            alert("Please select a date and a Laguna.");
        }
    }
</script>
<style>
    .table-box {
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        width: max-content;
        margin-right: 50px;
    }
    .table-title {
        text-align: center;
        font-weight: bold;
        background-color: #1eb3ee;
        padding: 10px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    /* Add more styles as needed */
</style>

{% endblock %}
