{% extends "main/base.html" %}

{% block content %}

<div class="header">
    <button class="back-button" onclick="window.location.href='/semanal/'">Back</button>
    <div class="project-info">
        Project: {{ laguna.idLagunas }} - {{ laguna.Nombre }}
    </div>
</div>

<style>
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    .back-button {
        margin-left: 10px;
    }
    .project-info {
        text-align: center;
        font-size: 20px;
        flex-grow: 1;
    }
    .relevant-matters {
        margin-top: 20px;
    }
    .relevant-matters h2 {
        margin-bottom: 10px;
    }
    .relevant-matters textarea {
        width: 100%;
        margin-bottom: 10px;
    }
</style>

<!-- Relevant Matters Section -->
<div class="relevant-matters">
    <h2>Relevant Matters</h2>
    <p>Date, Last Modification: 
        {% if latest_relevant_matter %}
            {{ latest_relevant_matter.date }}
        {% else %}
            N/A
        {% endif %}
    </p>
    <form method="post" action="{% url 'display_latest_relevant_matter' laguna.idLagunas fecha %}">
        {% csrf_token %}
        <textarea name="relevant_matter_text" rows="6" cols="50">
            {% if latest_relevant_matter %}
                {{ latest_relevant_matter.text }}
            {% endif %}
        </textarea>
        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}
