{% extends 'main/base.html' %}

{% block content %}

<h2>Reporte Semanal</h2>

<div class="table-box">
    <form id="supervisorForm">
        <!-- Supervisor Selection -->
        <div class="form-group">
            <label for="supervisor">Supervisor</label>
            <select name="supervisor" id="supervisor" class="select-supervisor">
                {% for supervisor in supervisors %}
                    <option value="{{ supervisor.name }}">{{ supervisor.name }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Buttons -->
        <div class="button-container">
            <button type="button" onclick="location.href='/home/'" class="button">Home</button>
            <button type="button" onclick="submitForm()" class="button">Elegir</button>
        </div>
    </form>
</div>

<script>
    function submitForm() {
        var selectedSupervisorName = document.getElementById('supervisor').value;
        window.location.href = '/supervisor/' + encodeURIComponent(selectedSupervisorName) + '/';
    }
</script>

<style>
    .table-box {
        border: 1px solid #ddd;
        padding: 15px;
        margin-bottom: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.15);
        width: max-content;
        margin-right: 50px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    .spacer {
        flex-grow: 1;
    }
    .table-box h2 {
        color: grey; /* Adjust the color as needed */
    }
</style>

{% endblock %}
